@import "variables.less";

body {
  font-family: @font-family-base;
  font-size: 13px;
  color: #000;
  background-color: @bg-color;
}

h1, h2, h3, h4, h5 {
  font-family: @font-family-compact;
}

.clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.container {
  margin: 0 auto;
  max-width: @max-w-container - (2 * @padding-base);
  padding: 0 @padding-base;
}

/* Header */
/** Top header **/

.header {
  &-main {
    background-color: #f1f5f7;
  }
  
  &-top {
    color: @light-color;
    background-color: @dark-brand-color;
    
    .logo {
      float: left;
      
      a {
        display: block;
        position: relative;
        padding: 8px 50px;
        font-family: @font-family-compact;
        font-size: @big-font-size;
        font-weight: 700;
        text-decoration: none;
        color: @light-color;
        background-color: @spec-1-color;
        
        &:after {
          content: "";
          position: absolute;          
          left: 0;
          right: 0;
          bottom: -5px;
          width: 100%;
          background-color: @dark-spec-1-color;
          height: 5px;
        }
        
        &:hover {
          background-color: @add-1-spec-1-color;
          
          &:after {
            background-color: darken(@dark-spec-1-color, 10%);
          }
        }
        
        &:active {
          background-color: @add-2-spec-1-color;
          
          &:after {
            background-color: darken(@dark-spec-1-color, 20%);
          }
        }
      }
      
    }
    
    form {
      position: relative;
      float: left;
      width: 270px;
      font-family: @font-family-compact;
      font-size: @base-font-size + 1;
      font-weight: 400;
      color: @text-color;
      
      input {
        width: 100%;
        box-sizing: border-box;
        padding: 12px @padding-base 12px 50px;
        border: none;
        outline: none;
        background-color: transparent;
        .placeholder-color(@light-color);
        
        &:focus {
          background-color: @light-color;
          .placeholder-color(@light-color);
        }
      }      
      
      .search-submit {
        position: absolute;
        width: 40px;
        height: 40px;
        left: 0;
        top: 0;
        border: none;
        outline: none;
        background-color: transparent;
        color: @light-color;
      }
    }
    
    .top-nav {
      float: right;
      
      ul {
        .ul-clear();
        
        li {
          float: left;
        }
        
        a {
          display: block;
          padding: 12px 30px 12px 45px;
          text-decoration: none;
          font-family: @font-family-compact;
          font-size: @base-font-size + 1;
          font-weight: 400;
          color: @light-color;
          background-color: none;
          
          &:active {
            background-color: darken(@dark-brand-color, 20%);
            opacity: @base-opacity + 0.1;
          }
          
          &.order {
            padding-left: 22px;
            padding-right: 22px;
            background-color: @spec-2-color;
            
            &:hover {
              background-color: @add-1-spec-2-color;
            }
            
            &:active {
              background-color: @add-2-spec-2-color;
              opacity: @base-opacity;
            }
          }
        }
        
        .order {
          background-color: #63a63e;
        }
      }
    }
  }  
}