@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,600&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Cuprum:400,400italic,700,700italic&subset=latin,cyrillic);

 @font-face {
  font-family: 'symbols-technomart';
  src: url('../font/symbols-technomart.eot?23527613');
  src: url('../font/symbols-technomart.eot?23527613#iefix') format('embedded-opentype'),
       url('../font/symbols-technomart.woff?23527613') format('woff'),
       url('../font/symbols-technomart.ttf?23527613') format('truetype'),
       url('../font/symbols-technomart.svg?23527613#symbols-technomart') format('svg');
  font-weight: normal;
  font-style: normal;
}

@text-color: #000;
@brand-color: #32425c; /* Blue */
@dark-brand-color: #293449; 
@light-color: #fff;
@gray-color: #c5c5c5;

@spec-1-color: #ee3643; /* Red */
@add-1-spec-1-color: #ca2c37;
@add-2-spec-1-color: #ba2732;
@dark-spec-1-color: #b52933;

@spec-2-color: #63a63e; /* Green */
@add-1-spec-2-color: #5fbb2d;
@add-2-spec-2-color: #518534;
@dark-spec-2-color: #367315;

@spec-3-color: #ffd180; /* almost Yellow */

@bg-color: @light-color;
@bg-color-2: #f2f6f8;

@font-family-base: "Open Sans", Calibri, Arial, sans-serif;
@font-family-compact: Cuprum, Impact, sans-serif;

@base-font-size: 16px;
@middle-font-size: @base-font-size + 5;
@big-font-size: @base-font-size + 8;
@nav-font-size: @base-font-size + 2;
@btn-font-size: @base-font-size - 2;

@line-height: 1.9;
@line-height-product-title: 20px;


@max-w-container: 960px;
@wrap-out: 10px;

@base-opacity: 0.5;
@icon-opacity: 0.3;

@promo-item-height: 123px;
@service-padding: 40px;

/*********** Mixins **************/

.ul-clear() {
  margin: 0;
  padding: 0;
  list-style: none;
}

.linear-gradient(@angle; @bg-color-1; @bg-color-2) {
  background-image: linear-gradient(@angle, @bg-color-1, @bg-color-2);
}

.border-round-coner(@radius: 25px) {
  border-radius: @radius;
}

.zero-centered() {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.placeholder-color(@color: red) {
  &::-webkit-input-placeholder {
    color: @color;
  }
  &::-moz-placeholder {
    color: @color;
  }
  &:-ms-input-placeholder {
    color: @color;
  }
}

.triangle(@_; @size; @color) {
    width: 0;
    height: 0;
    border-width: @size;
    border-style: solid;
    border-color: @color;
}

.triangle(top; @size; @color) {
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-style: none;
}

.triangle(right; @size; @color) {
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right-style: none;
}

.triangle(bottom; @size; @color) {
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-style: none;
}

.triangle(left; @size; @color) {
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-style: none;
}

